/*se modifico la anchura y altura de los labels flotantes*/
#floatingInputIdVenta{
  width: 34.8em;
  height: 25px;
}

#floatingInputIdProducto, 
#floatingInputValorTotal,
#floatingInputIdCliente,
#floatingInputNombreCliente{
  width: 15.8em;
  height: 25px;
}

#floatingInputCantidad, 
#floatingInputPrecioUnitario,
#floatingInputFechaVenta{
  width: 9.4em;
  height: 25px;
}
/*fin*/

.principal-first-container{
  border: 1px solid #DBDADA;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
}