:root {
    --primary: #04bfad;
}

.btn {
padding: 8px 20px;
border-radius: 2px;
outline: none;
border: none;
cursor: pointer;
}

.btn:hover{
    padding: 8px 20px;
    transition: all .3s ease-out;
    background: #fff;
    color: #03588c;
    transition: 250ms;
}

.btn--primary{
    background-color: var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--Primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btn-large{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}