/*Estilos globales para páginas que usen este archivo (normalmente las de gestión de productos y sus componentes)*/
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    padding-left: 0;
    list-style: none;

    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Estilos del page gestionProductos*/
.containerGestionProductos{
    display: flex;
    flex-direction: column;
}



/*Estilos para ul en gestión de productos para que sea responsive las tarjetas*/
.containerCard{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
}

/*Estilos de las card para el componente CardProduct*/
.card {
    display: flex;
    padding: 0.5%;
    align-items: center;
    min-width: 16rem;
    min-height: 20em;
    border-radius: 15px;
    width: 18em; 
    /*box-shadow: 0.25em 0.25em rgba(64, 79, 85, 0.5);*/
    padding: 1%;
    margin: 4% 2%; 
    flex-direction: column;
    
}

.card .cardBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
} 

/*estilos para cuando alguien pase por encima de alguna card*/
.card:hover{
    box-shadow: 0 1em rgba(43, 52, 56, 0.5);
    transform: translateY(-10px);
    /*transform: scale(1.01);*/
}


.cardNuevoProducto{
    min-height: 5em;
    max-height: 10em;
    justify-self: center;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

/*Estilos para el h3 de los titulos de las card en el componente CardProduct*/
.containerTituloCard{
    
}

/*Estilos para card de agregar producto*/

.titleCardAgregarProducto{
    color: black;    
}

.imgAgregarProducto{
    width: 25%;
    
}

/*Estilos para bototnes en las crads que muestran los productos*/
.containerBtnCard{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    justify-self: flex-end;
    margin-bottom: 5%;
}

.btnCardChildren{
    border-radius: 0;
}




/*Estilos para el header de gestion de productos*/
.headerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% 0 2% 0;
}


.header_titleProducts{
    width: 100%;
    text-align: center;
    margin: 2% 0 3% 0;
}


.containerBarraBusqueda{ 
    display: flex;
}





