#formGridIdVenta{
  width: 89%;
}

#formGridIdProducto, #formGridCantidad, #formGridIdCliente, #formGridNombreCliente{
  width: 91%;
}

#formGridIdPrecioU, #formGridPrecioTotal, #formGridFechaVenta{
  width: 97.5%;
}

